__pycache__
src/log/**
src/images/**
src/docs/**
src/input/pdf/**
src/input/md/**
src/input/mermaid/**
src/archive/**
.DS_Store
macos/automator/.DS_Store
token_cache.json
**.mp4
.aider*
test/~$Test_DOM.mmap.~$lock
src/import/**
**.cpython-312.pyc
settings.json
.env
src/config/*.env
!src/config/gpt4all.env
!src/config/lmstudio.env
!src/config/mlx.env
!src/config/ollama.env
CLAUDE.md