ALIBABACLOUD_API_KEY=
ALIBABACLOUD_API_URL_DASHSCOPE=https://dashscope-intl.aliyuncs.com/api/v1/services/aigc/text-generation/generation
ALIBABACLOUD_API_URL_COMPATIBLE=https://dashscope-intl.aliyuncs.com/compatible-mode/v1/chat/completions
ALIBABACLOUD_USE_DASHSCOPE=False
