AZURE_ENTRA_AUTH=False

AZURE_API_KEY=
AZURE_API_URL=https://<xyz>.services.ai.azure.com/
AZURE_API_VERSION=2025-01-01-preview

AZURE_API_KEY_IMAGE=
AZURE_API_URL_IMAGE=https://<xyz>.cognitiveservices.azure.com/
AZURE_API_VERSION_IMAGE=2025-04-01-preview

AZURE_API_KEY_IMAGE_EASTUS=
AZURE_API_URL_IMAGE_EASTUS=https://<xyz>-eastus.cognitiveservices.azure.com/
AZURE_API_VERSION_IMAGE_EASTUS=2024-02-01

AZURE_API_KEY_IMAGE_WESTUS3=
AZURE_API_URL_IMAGE_WESTUS3=https://<xyz>-westus3.cognitiveservices.azure.com/
AZURE_API_VERSION_IMAGE_WESTUS3=2024-02-01
