AZURE_API_KEY=
AZURE_API_URL=https://<xyz>.openai.azure.com/
AZURE_API_VERSION=2023-05-15
AZURE_ENTRA_AUTH = False

AZURE_API_KEY_IMAGE=
AZURE_API_URL_IMAGE=https://<xyz>.openai.azure.com/
AZURE_API_VERSION_IMAGE=2024-02-01
AZURE_ENTRA_AUTH_IMAGE = False
