BEDROCK_ACCESS_KEY=
BEDROCK_SECRET_KEY=

# iam-bedrock-policy example
# {
# 	"Version": "2012-10-17",
# 	"Statement": [
# 		{
# 			"Sid": "VisualEditor0",
# 			"Effect": "Allow",
# 			"Action": [
# 				"bedrock:InvokeModel",
# 				"bedrock:InvokeModelWithResponseStream"
# 			],
# 			"Resource": [
# 				"arn:aws:bedrock:*::foundation-model/*",
# 				"arn:aws:bedrock:*:<aws-account-id>:provisioned-model/*",
# 				"arn:aws:bedrock:*:<aws-account-id>:imported-model/*",
# 	            "arn:aws:bedrock:*:<aws-account-id>:inference-profile/*"
# 	        ]
# 		}
# 	]
# }