OPENAI_API_KEY=
OPENAI_API_URL=https://api.openai.com/v1/chat/completions

OPENAI_API_KEY_IMAGE=
OPENAI_API_URL_IMAGE=https://api.openai.com/v1/images/generations
OPENAI_API_URL_IMAGE_VIDEO=https://api.openai.com/v1/videos
