GCP_CLIENT_ID=
GCP_CLIENT_SECRET=

VERTEXAI_ACCESS_TOKEN=

VERTEXAI_PROJECT_ID=
VERTEXAI_API_ENDPOINT=aiplatform.googleapis.com
VERTEXAI_LOCATION_ID=global

VERTEXAI_PROJECT_ID_IMAGE=
VERTEXAI_API_ENDPOINT_IMAGE=us-central1-aiplatform.googleapis.com
VERTEXAI_LOCATION_ID_IMAGE=us-central1

VERTEXAI_API_ENDPOINT_GLOBAL_IMAGE=aiplatform.googleapis.com